* {
    margin: 0;
    padding: 0;
    height: fit-content;
}

:host {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ajusta el valor de z-index según sea necesario */
    background-color: #ffffff; /* Ajusta el color de fondo según sea necesario */
    /* Agrega otros estilos según tus preferencias */
}

/* *** NAVBAR *** */  
header {
    background-color: white; /* Color de fondo del encabezado */
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 0.6px solid #dbdada;
    font-family: 'Rubik', sans-serif;
}
  
.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
  
.logo {
    color: black; /* Color del texto del logo */
    font-size: 1.7em;
    
}

nav ul{
    float:right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
}

.iconsNav{
    transform: scale(1.4);
    color: black;
}

.iconsNav:hover{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    background-color: #25A18E;
    border-radius: 50%;
    transition: .5s;
    transform: scale(2);
}

.addButton{
    border: none;
    background-color: #25A18E;    
    border-radius: 10%;
    padding-bottom: 0;
    padding-top: 7px;
    padding-right: 7px;
    padding-left: 7px;
    box-shadow: 0 8px 16px rgba(122, 229, 130, 1);
}

.iconAdd{
    transform: scale(1.1);
    color: white;
}

.addButton:hover{
    background-color: #25A18E;
    border-radius: 50%;
    transition: .5s;
    transform: scale(1.4);
}

.addButton:hover .iconAdd{
    color:black;
}

/* * Boton Desplegable *
/* Estilo básico para el botón y el contenedor del desplegable */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 50px;
}

/* Estilo del botón principal */
.dropdown-button {
    padding: 10px;
    border: none;
    background-color: transparent;
}

.dropdown-button:hover {
    border-radius: 50%;
    transition: .5s;
}

/* Estilo del contenedor del desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Estilo de los enlaces dentro del desplegable */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    height: fit-content;
    width: 150px;
    display: block;
    font-size:medium;
    text-decoration: none;
}

/* Cambia el color de fondo del enlace cuando se pasa el ratón por encima */
.dropdown-content a:hover {
    background-color: #25A18E;
    transition: .5s;
}

  /* Muestra el desplegable cuando se pasa el ratón sobre el botón */
.dropdown:hover .dropdown-content {
    display: block;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    background: rgba(230, 230, 230, 0.5);
    width: 100%;
    border: 0px solid black;
    padding-left: 15px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    color: #7e7e7e;
    font-size: 15px;
}

.searchButton {
    padding-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 0px solid black;
    background: rgba(230, 230, 230, 0.5);
    text-align: center;
    color: black;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* *** RESPONSIVE QUERYs *** */
@media (min-width: 0px) and (max-width: 413px) {
    .logo {
        display: none;
    }
}

@media (min-width: 414px) and (max-width: 504px) {
    .logo {
        color: #7AE582; /* Color del texto del logo */
        font-size: 1em;
        font-weight: bold;
        margin-left: 50px;
    }
    .iconsNav{
        transform: scale(1.3);
    }
    .aAdd{
        margin-right: 30px;
    }
    .aAdd mat-icon{
        transform: scale(1.4);
    }
}

@media (min-width: 505px) and (max-width: 779px) {
    .logo {
        color: #7AE582; /* Color del texto del logo */
        font-size: 1.5em;
        font-weight: bold;
        margin-left: 50px;
    }
    .iconsNav{
        transform: scale(1.5);
    }
    .aAdd{
        margin-right: 30px;
    }
    .aAdd mat-icon{
        transform: scale(1.6);
    }
}

@media (min-width: 780px) and (max-width: 1220px) {
    .logo {
        color: #7AE582; /* Color del texto del logo */
        font-size: 1.7em;
        font-weight: bold;
        margin-left: 50px;
    }

    .aAdd{
        margin-right: 30px;
    }
}