<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CategoriesComponent</title>
    </head>

    <body>
        <div class="container-fluid">
            <!-- *** CAROUSEL OF CATEGORIES *** -->
            <div class="categoriesContainer">
                <div class="carousel">
                    <ngb-carousel [interval]="0">
                        <ng-template ngbSlide>
                            <div class="carouselContent">
                                <div class="whiteSpaceForCarousel"><mat-icon>arrow_back_ios</mat-icon></div>
                                <a href ="motoraccesories/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Motor & Accesories</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">directions_car</mat-icon>
                                            <mat-icon class="decorIcons">local_shipping</mat-icon>
                                            <mat-icon class="decorIcons">directions_bus</mat-icon>
                                        </div>
                                    </div>
                                </a>

                                <a href ="motos/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Motos</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">moped</mat-icon>
                                            <mat-icon class="decorIcons">two_wheeler</mat-icon>
                                            <mat-icon class="decorIcons">motorcycle</mat-icon>
                                        </div>
                                    </div>
                                </a>

                                <a href ="properties/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Properties</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">home</mat-icon>
                                            <mat-icon class="decorIcons">house</mat-icon>
                                            <mat-icon class="decorIcons">warehouse</mat-icon>
                                        </div>
                                    </div>
                                </a>

                                <a href ="bicycles/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Bicycles</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">pedal_bike</mat-icon>
                                            <mat-icon class="decorIcons">directions_bike</mat-icon>
                                            <mat-icon class="decorIcons">electric_bike</mat-icon>
                                        </div>
                                    </div>
                                </a>
                                <div class="whiteSpaceForCarousel2"><mat-icon>arrow_forward_ios</mat-icon></div>
                            </div>
                        </ng-template>

                        <ng-template ngbSlide>
                            <div class="carouselContent">
                                <div class="whiteSpaceForCarousel"><mat-icon>arrow_back_ios</mat-icon></div>
                                <a href ="smartphonestelephony/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Smartphones & Telephony</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">smartphone</mat-icon>
                                            <mat-icon class="decorIcons">phone_in_talk</mat-icon>
                                            <mat-icon class="decorIcons">watch</mat-icon>
                                        </div>
                                    </div>
                                </a>
                                

                                <a href ="tvaudiophoto/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>TV, Audio & Photo</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">tv</mat-icon>
                                            <mat-icon class="decorIcons">speaker</mat-icon>
                                            <mat-icon class="decorIcons">photo_camera</mat-icon>
                                        </div>
                                    </div>
                                </a>

                                <a href ="computingelectronics/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Computing & Electronics</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">laptop_chromebook</mat-icon>
                                            <mat-icon class="decorIcons">keyboard</mat-icon>
                                            <mat-icon class="decorIcons">cable</mat-icon>
                                        </div>
                                    </div>
                                </a>

                                <a href ="jobs/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Jobs</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">work</mat-icon>
                                            <mat-icon class="decorIcons">monetization_on</mat-icon>
                                            <mat-icon class="decorIcons">engineering</mat-icon>
                                        </div>
                                    </div>
                                </a>
                                <div class="whiteSpaceForCarousel2"><mat-icon>arrow_forward_ios</mat-icon></div> 
                            </div>
                        </ng-template>

                        <ng-template ngbSlide>
                            <div class="carouselContent">
                                <div class="whiteSpaceForCarousel"><mat-icon>arrow_back_ios</mat-icon></div>
                                <a href ="services/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Services</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">cleaning_services</mat-icon>
                                            <mat-icon class="decorIcons">design_services</mat-icon>
                                            <mat-icon class="decorIcons">electrical_services</mat-icon>
                                        </div>
                                    </div>
                                </a>
                                
                                <a href ="fashion/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Fashion</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">checkroom</mat-icon>
                                            <mat-icon class="decorIcons">diamond</mat-icon>
                                            <mat-icon class="decorIcons">watch</mat-icon>
                                        </div>
                                    </div>
                                </a>

                                <a href ="sportleisure/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Sport & Leisure</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">fitness_center</mat-icon>
                                            <mat-icon class="decorIcons">pool</mat-icon>
                                            <mat-icon class="decorIcons">sports_baseball</mat-icon>
                                        </div>
                                    </div>
                                </a>

                                <a href ="consolesvideogames/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Consoles & Videogames</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">videogame_asset</mat-icon>
                                            <mat-icon class="decorIcons">gamepad</mat-icon>
                                            <mat-icon class="decorIcons">sports_esports</mat-icon>
                                        </div>
                                    </div>
                                </a>
                                <div class="whiteSpaceForCarousel2"><mat-icon>arrow_forward_ios</mat-icon></div>
                            </div>
                        </ng-template>

                        <ng-template ngbSlide>
                            <div class="carouselContent">
                                <div class="whiteSpaceForCarousel"><mat-icon>arrow_back_ios</mat-icon></div>
                                <a href ="children/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Children</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">child_friendly</mat-icon>
                                            <mat-icon class="decorIcons">child_care</mat-icon>
                                            <mat-icon class="decorIcons">baby_changing_station</mat-icon>
                                        </div>
                                    </div>
                                </a>

                                <a href ="homegarden/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Home & Garden</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">chair</mat-icon>
                                            <mat-icon class="decorIcons">bed</mat-icon>
                                            <mat-icon class="decorIcons">yard</mat-icon>
                                        </div>
                                    </div>
                                </a>

                            
                                <a href ="homeappliances/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Home Appliances</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">kitchen</mat-icon>
                                            <mat-icon class="decorIcons">coffee_maker</mat-icon>
                                            <mat-icon class="decorIcons">microwave_gen</mat-icon>
                                        </div>
                                    </div>
                                </a>
                                
                                <a href ="construction/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Construction</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">square_foot</mat-icon>
                                            <mat-icon class="decorIcons">hardware</mat-icon>
                                            <mat-icon class="decorIcons">carpenter</mat-icon>
                                        </div>
                                    </div>
                                </a>
                                <div class="whiteSpaceForCarousel2"><mat-icon>arrow_forward_ios</mat-icon></div>
                            </div>
                        </ng-template>

                        <ng-template ngbSlide>
                            <div class="carouselContent">
                                <div class="whiteSpaceForCarousel"><mat-icon>arrow_back_ios</mat-icon></div>
                                <a href ="cinemabooksmusic/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Cinema, Books & Music</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">movie</mat-icon>
                                            <mat-icon class="decorIcons">import_contacts</mat-icon>
                                            <mat-icon class="decorIcons">music_note</mat-icon>
                                        </div>
                                    </div>
                                </a>

                                <a href ="others/" class="categoriesButton" title="Motor y Accesorios">
                                    <div class="divButton">
                                        <h2>Others</h2>
                                        <div class="iconsButton">
                                            <mat-icon class="decorIcons">edit</mat-icon>
                                            <mat-icon class="decorIcons">inventory_2</mat-icon>
                                            <mat-icon class="decorIcons">hub</mat-icon>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>    
                <div class="buttonCategoriesContainer">
                    <a href ="/" class="btnCategories">Categories</a>
                </div>
            </div> 

        </div>
        
    
    </body>


</html>



