<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AnnounceVehiculoDocument</title>
    </head>

    <body>
        <div class="navbarBox" [ngStyle]="{'display':itsEditRecibido ? 'block' : 'none' }">
            <app-navbar></app-navbar>
        </div>
        
        <div class="container-fluid">

            <form (submit) ="uploadData(brand, model, price, year, title, sellerType, version, numberSeats, numberDoors, horsepower, carType, kilometres, engine, gearShift, email, phone, description, ubication)">
                
                <div class="card-form">

                    <div class="centerInputs">
                        <input type="text" class="titleInput" value ="{{objectAuxEdit.title}}" placeholder="Title" maxlength="70" #title>
                    </div>

                    <div class="normalInputs">
                        <input type="text" value ="{{objectAuxEdit.email}}" placeholder="Email" maxlength="60" #email>
                           
                        <input type="text" value ="{{objectAuxEdit.phone}}" placeholder="Phone" maxlength="15" required #phone>
                    </div>

                    <div class="normalInputs">
                        <select value ="{{objectAuxEdit.sellerType}}" (change)="onSelectedSellerType($event)" [class.selected-option]="selectedOptionStyle" #sellerType>
                            <option>Select a seller type</option>
                            <option>Particular</option>
                            <option>Profesional</option>
                        </select>

                        <select value ="{{objectAuxEdit.brand}}" (change)="onSelectedBrand($event)" [class.selected-option]="selectedOptionStyle2" #brand>
                            <option>Select a brand</option>
                            <option>Abarth</option>
                            <option>Aiways</option>
                            <option>Alfa Romeo</option>
                            <option>Alpine</option>
                            <option>Aston Martin</option>
                            <option>Audi</option>
                            <option>BMW</option>
                            <option>BYD</option>
                            <option>Bentley</option>
                            <option>CUPRA</option>
                            <option>Cadillac</option>
                            <option>Caterham</option>
                            <option>Chevrolet</option>
                            <option>Chrysler</option>
                            <option>Citroen</option>
                            <option>Corvette</option>
                            <option>DR</option>
                            <option>DS</option>
                            <option>Dacia</option>
                            <option>Daewoo</option>
                            <option>Daihatsu</option>
                            <option>Dodge</option>
                            <option>Faam</option>
                            <option>Ferrari</option>
                            <option>Fiat</option>
                            <option>Ford</option>
                            <option>Fornasari</option>
                            <option>Galloper</option>
                            <option>Honda</option>
                            <option>Hummer</option>
                            <option>Hyundai</option>
                            <option>INEOS</option>
                            <option>Infiniti</option>
                            <option>Isuzu</option>
                            <option>Iveco</option>
                            <option>Jaguar</option>
                            <option>Jeep</option>
                            <option>KIA</option>
                            <option>KTM</option>
                            <option>Karma</option>
                            <option>LDV</option>
                            <option>LYNK & CO</option>
                            <option>Lada</option>
                            <option>Lamborghini</option>
                            <option>Lancia</option>
                            <option>Land Rover</option>
                            <option>Lexus</option>
                            <option>Lotus</option>
                            <option>MG</option>
                            <option>MINI</option>
                            <option>Mahindra</option>
                            <option>Maserati</option>
                            <option>Maxus</option>
                            <option>Maybach</option>
                            <option>Mazda</option>
                            <option>McLaren</option>
                            <option>Mercedes-Benz</option>
                            <option>Mitsubishi</option>
                            <option>Morgan</option>
                            <option>Nissan</option>
                            <option>Opel</option>
                            <option>Peugeot</option>
                            <option>Polestar</option>
                            <option>Porsche</option>
                            <option>Renault</option>
                            <option>Renault Trucks</option>
                            <option>Rolls-Royce</option>
                            <option>Rover</option>
                            <option>SEAT</option>
                            <option>Saab</option>
                            <option>Santana</option>
                            <option>Skoda</option>
                            <option>SsangYong</option>
                            <option>Subaru</option>
                            <option>Suzuki</option>
                            <option>TH!NK</option>
                            <option>Tata</option>
                            <option>Tesla</option>
                            <option>Toyota</option>
                            <option>VAZ</option>
                            <option>Volkswagen</option>
                            <option>Volvo</option>
                            <option>Wiesmann</option>
                            <option>Smart</option>
                        </select>
                    </div>

                    <div class="normalInputs">
                        <input type="text" class="input-normal" name="model" value ="{{objectAuxEdit.model}}" placeholder="Model" maxlength="30" required #model>
                        
                        <div class="price">
                            <input type="text" style="width: 150px;" value ="{{objectAuxEdit.price}}" placeholder="Price" maxlength="10" required #price>
                            <strong><h1 style="margin-left: 10px; margin-right: 5px;">DA</h1></strong>
                        </div>
                    </div>

                    <div class="normalInputs">
                        <input type="text" class="input-normal" name="year" value ="{{objectAuxEdit.year}}" placeholder="Year"  maxlength="4" required #year>
                    
                        <input type="text" class="input-normal" name="version" value ="{{objectAuxEdit.version}}" placeholder="Version"  maxlength="30" #version>
                    </div>

                    <div class="normalInputs">
                        <input type="text" class="input-normal" name="numberSeats" value ="{{objectAuxEdit.numberSeats}}" placeholder="Number of Seats"  maxlength="2" required #numberSeats>
                    
                        <input type="text" class="input-normal" name="numberDoors" value ="{{objectAuxEdit.numberDoors}}" placeholder="Number of Doors" maxlength="2" required #numberDoors>
                    </div>

                    <div class="normalInputs">
                        <input type="text" class="input-normal" name="horsepower" value ="{{objectAuxEdit.horsepower}}" placeholder="Horse Power" maxlength="4" required #horsepower>
                    
                        <select value ="{{objectAuxEdit.carType}}" (change)="onSelectedCarType($event)" [class.selected-option]="selectedOptionStyle3" #carType>
                            <option>Select a Car Type</option>
                            <option>Pequeño</option>
                            <option>Coupe</option>
                            <option>Sedan</option>
                            <option>Familiar</option>
                            <option>Monovolumen</option>
                            <option>4x4</option>
                            <option>Furgoneta</option>
                            <option>Otros</option>
                        </select>
                    </div>

                    <div class="normalInputs">
                        <input type="text" class="input-normal" name="kilometres" value ="{{objectAuxEdit.kilometres}}" placeholder="Kilometres" maxlength="7" required #kilometres>
                    
                        <select value ="{{objectAuxEdit.engine}}" (change)="onSelectedEngineType($event)" [class.selected-option]="selectedOptionStyle4" #engine>
                            <option>Select engine type</option>
                            <option>Gasolina</option>
                            <option>Diesel</option>
                            <option>Electrico</option>
                            <option>Gas</option>
                            <option>Otros</option>
                        </select>
                    </div>

                    <div class="normalInputs">
                        <select value ="{{objectAuxEdit.gearShift}}" (change)="onSelectedGearShift($event)" [class.selected-option]="selectedOptionStyle5" #gearShift>
                            <option>Select the gear shift</option>
                            <option>Manual</option>
                            <option>Automatico</option>
                        </select>

                        <select value ="{{objectAuxEdit.ubication}}" (change)="onSelectedUbication($event)" [class.selected-option]="selectedOptionStyle6" #ubication>
                            <option>Select the ubication</option>
                            <option>Alger</option>
                            <option>Oran</option>
                            <option>Constantina</option>
                            <option>Annaba</option>
                            <option>Batna</option>
                            <option>Blida</option>
                            <option>Setif</option>
                            <option>Chlef</option>
                            <option>Djelfa</option>
                            <option>Sidi Bel Abbes</option>
                            <option>Biskra</option>
                            <option>Tébessa</option>
                            <option>Tiaret</option>
                            <option>Ouargla</option>
                            <option>Bugía</option>
                            <option>Skikda</option>
                            <option>Tlemecén</option>
                            <option>Bordj Bou Arreridj</option>
                            <option>Béchar</option>
                            <option>Médéa</option>
                            <option>Touggourt</option>
                            <option>Jijel</option>
                            <option>Souk Ahras</option>
                            <option>Mostaganem</option>
                            <option>M'Sila</option>
                            <option>El Eulma</option>
                            <option>Khenchela</option>
                            <option>Saïda</option>
                            <option>Aïn Oussara</option>
                            <option>El Oued</option>
                            <option>Guelma</option>
                            <option>Relizane</option>
                            <option>Laghouat</option>
                            <option>Bordj el Kiffan</option>
                            <option>Bou Saada</option>
                            <option>Bab Ezzouar</option>
                            <option>Messaad</option>
                            <option>Barika</option>
                            <option>Ain el Beida</option>
                            <option>Ghardaia</option>
                            <option>Baraki</option>
                            <option>El Khroub</option>
                        </select>
                    </div>

                    <div class="centerInputs">
                        <textarea name="description" class="input-textarea" value ="{{objectAuxEdit.description}}" placeholder="Description" maxlength="500" #description></textarea>
                    </div>

                    <div class="errorMsg">
                        <p>{{errorMSG}}</p>
                    </div>

                    <div class="buttonImage">
                        <h2>Upload your images</h2>
                        <div class="uploadButton">
                            <!-- Mediante el input y el img creo el boton de subida -->
                            <!-- Mediante (change)="nombreFuncion($event)" hacemos uso de la funcion, y mediante $event le pasamos los archivos (array de archivos seleccionados mediant el input file) -->
                            <!-- Mediante "multiple" permito que puedas seleccionar mas de un archivo a la vez a la hora de subirlos -->
                            <input type ="file" style="display: none;" (change)="onPhotoSelected($event)" multiple #photoInput/>
                            <!-- Mediante (click)="nombre de la variable del input de arriba.click()" asocio la imagen con el boton input file de arriba -->
                            <h1 (click)="photoInput.click()"><mat-icon>add_a_photo</mat-icon></h1>
                        </div>
                    </div>

                    <div class="buttonBox" *ngIf="itsEditRecibido; else normalButton">
                        <button type="submit" class="btnSubmit">Edit Announce</button>
                        <button type="button" class="btnSubmit" (click)="deleteAnnounce();">Delete Announce</button>
                    </div>

                    <ng-template #normalButton>
                        <div class="buttonBox">
                            <button class="btnSubmit">Post Announce</button>
                        </div>
                    </ng-template>

                </div>
            </form>

            <div class="popup-container" id="popup" [ngStyle]="{'display':showUpdateOk ? 'block' : 'none' }">
                <div class="popup-content">
                  <h2><strong>Announce Succesfully Updated</strong></h2>
                  <p>Press the button for continue</p>
                  <button class="btnSubmit" (click)="reloadEdit()">Continue</button>
                </div>
            </div>

            <div class="popup-container" id="popup" [ngStyle]="{'display':showDeleteMSG ? 'block' : 'none' }">
                <div class="popup-content">
                  <h2><strong>Announce Succesfully Deleted</strong></h2>
                  <p>Press the button for continue</p>
                  <a href ="/" class="btnSubmit">Continue</a>
                </div>
            </div>

            <div class="photosBox">
                <!-- PREVIEW DE FOTOS ANTES DE SUBIRLAS -->
                <div class="itsEdit" *ngIf="!itsEditRecibido; else isEdit">

                    <div class="row" style="margin-left: 25px;">
                            
                        <!-- Utilizo el arrayPhotosPreview definido en el .ts (array que almacena el preview de las fotos) y mediante un bucle for (*ngFor) muestro todas las fotos -->
                        <div class="col-md-3" *ngFor="let dato of objectPhotos.arrayPreview"> <!-- Creo una columna de md-6 por cada imagen -->
                            <div class="image-frame">
                                <div class="image-shape">
                                    <img src = {{dato}} width="100%" height="100%" #imgData> <!-- Muestro la imagen -->

                                    <div class="buttonsInfo">
                                            
                                        <div class="buttonoverlapmulti"> <!-- Boton para cambiar la imagen -->
                                            <h1 (click)="deletePhoto(imgData);"><mat-icon>delete</mat-icon></h1>
                                        </div>
                                                
                                        <div class="buttonoverlapmulti2"> <!-- Boton para cambiar la imagen -->
                                            <input type ="file" style="display: none;" (change)="changePhoto(imgData, $event);" #photoChange/>
                                            <h1 (click)="photoChange.click()"><mat-icon>add_a_photo</mat-icon></h1>
                                        </div>
                                                
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
                <ng-template #isEdit>
                    <div class="row">

                        <div class="col-md-3" *ngFor="let datoEdicion of objectPhotosEdit.arrayPhotosEdit">
                            <div class="image-frame">
                                <div class="image-shape">
                                    <img src = {{datoEdicion}} width="100%" height="100%" #imgData>
    
                                    <div class="buttonsInfo">
                                                
                                        <div class="buttonoverlapmulti"> <!-- Boton para cambiar la imagen -->
                                            <h1 (click)="deletePhoto(imgData);"><mat-icon>delete</mat-icon></h1>
                                        </div>
                                                
                                        <div class="buttonoverlapmulti2"> <!-- Boton para cambiar la imagen -->
                                            <input type ="file" style="display: none;" (change)="changePhoto(imgData, $event);" #photoChange/>
                                            <h1 (click)="photoChange.click()"><mat-icon>add_a_photo</mat-icon></h1>
                                        </div>
                                                
                                    </div>
    
                                </div>   
                            </div>
                        </div>

                        <div class="col-md-3" *ngFor="let dato of objectPhotos.arrayPreview"> <!-- Creo una columna de md-3 por cada imagen -->
                            <div class="image-frame">
                                <div class="image-shape">
                                    <img src = {{dato}} width="100%" height="100%" #imgData> <!-- Muestro la imagen -->

                                    <div class="buttonsInfo">
                                                
                                        <div class="buttonoverlapmulti"> <!-- Boton para cambiar la imagen -->
                                            <h1 (click)="deletePhoto(imgData);"><mat-icon>delete</mat-icon></h1>
                                        </div>
                                                
                                        <div class="buttonoverlapmulti2"> <!-- Boton para cambiar la imagen -->
                                            <input type ="file" style="display: none;" (change)="changePhoto(imgData, $event);" #photoChange/>
                                            <h1 (click)="photoChange.click()"><mat-icon>add_a_photo</mat-icon></h1>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            
        </div>
    
    </body>

</html>

