.container-fluid{
    width: 100%;
    margin-top: 100px;
}

.container{
    width: 100%;
    padding-right: 0; 
    margin-top: 25px;
}

.container a{
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    list-style: none;
}

.container-fluid .container .announceCard{
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    width: 240px;
    height: 220px;
    margin-top: 10px;
    margin-bottom: 170px;
    margin-right: 0;
    margin-left: 60px;
}

.announceCard .shape{
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
}

.announceCard:hover .shape{
    transform: scale(1.3);
}

.announceCard .info{
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    color:black;
    border-radius: 10px, 10px, 10px, 10px;
}

.announceCard .info .title{
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 0.9em;
}
.announceCard .info .price{
    margin:0;
    padding: 0;
    color:#25A18E;
}

.announceCard .shape img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.announceCard .shape .descriptionInfo{
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #25A18E, rgba(0,165,207, 0.9));
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.announceCard .shape .infoIcons{
  color:black;
}

.announceCard:hover .shape .descriptionInfo{
    opacity: 1;
}

.filters{ 
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.hiddenFilters{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.filtersInputs{
    width: 80%;
}

.centerInputs{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.normalInputs{
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btnSubmit {
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 15px 30px;
    font-size: 18px;
    width: 250px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #fff;
    background: #25A18E;
    box-shadow: 0 0 10px rgba(37, 161, 142, 0.8); /* Sutil sombra */
    overflow: hidden;
    transition: background 0.3s, box-shadow 0.3s;
}
    
.btnSubmit:hover {
    background: #007999; /* Cambia el color de fondo al pasar el ratón */
    box-shadow: 0 0 20px rgba(0, 121, 153, 0.8); /* Aumenta la intensidad de la sombra */
}

.btnShowMoreLess{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background: #25A18E;
    box-shadow: 0 0 10px rgba(37, 161, 142, 0.8); /* Sutil sombra */
    overflow: hidden;
    transition: background 0.3s, box-shadow 0.3s;
}

.btnShowMoreLess:hover {
    background: #007999; /* Cambia el color de fondo al pasar el ratón */
    box-shadow: 0 0 20px rgba(0, 121, 153, 0.8); /* Aumenta la intensidad de la sombra */
}

input {
    background: rgba(96, 94, 94, 0.2);
    width: 50%;
    border: 0px solid black;
    padding-left: 15px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    color: #7e7e7e;
    font-size: 15px;
}

.inputBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-left: 40px;
}

input:focus {
    border: 2px solid #25A18E; 
    box-shadow: 0 0 5px rgba(37, 161, 142, 0.9); /* Agrega una sombra al enfocar */ 
}

input::placeholder {
    color: #3e3e3e; 
    text-align: center;
}

input[type="text"] {
    color: #004E64;
}

select{
    background: rgba(96, 94, 94, 0.2);
    width: 100%;
    border: 0px solid black;
    padding-left: 15px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    color: #7e7e7e;
    font-size: 15px;
}

select:focus {
    border: 2px solid #25A18E; 
    outline: none; /* Elimina el contorno predeterminado al enfocar */
    box-shadow: 0 0 5px rgba(37, 161, 142, 0.9); /* Agrega una sombra al enfocar */
}