<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MotosDocument</title>
    </head>

    <body>

        <!--Mediante ngStyle, aplico un estilo u otro dependiendo de la variable (es como un ngIf pero que cambia los estilos de CSS)-->
        <app-navbar></app-navbar>

        <div class="container-fluid">
 
            <div class="filters">
                <div class="filtersInputs">
                    <div class="centerInputs">
                        <button type="button" class="btnSubmit" style="margin-left: 20px;">Apply Filters</button>
                        <button type="button" class="btnSubmit" style="margin-left: 20px;" (click)="resetFilters()">Reset Filters</button>
                    </div>
                    
                    <div class="normalInputs">
                        <div class="inputBox">
                            <select #motoType>
                                <option default>All Moto Types</option>
                                <option></option>
                                <option></option>
                            </select>

                            <select #brand>
                                <option>All brands</option>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                        
                        <div class="inputBox">
                            <input type="text" class="inputRange"  name="minPrice" placeholder="Precio Minimo" maxlength="10" #minPrice>
                            <input type="text" class="inputRange" style="margin-left: 10px;" name="maxPrice" placeholder="Precio Maximo" maxlength="10" #maxPrice>
                        </div>
     
                        <div class="inputBox">
                            <input type="text" class="inputRange" name="minYear" placeholder="Año Minimo"  maxlength="4" #minYear>
                            <input type="text" class="inputRange" style="margin-left: 10px;" name="maxYear" placeholder="Año Maximo"  maxlength="4" #maxYear>
                        </div>
                    </div>
     
                    <div class="normalInputs">
                        <div class="inputBox">
                            <input type="text" class="inputRange"  name="model" placeholder="Model" maxlength="10" #model>

                            <input type="text" class="inputRange"  name="version" placeholder="Version" maxlength="10" #version>
                        </div>


                        <div class="inputBox">
                            <input type="text" class="input-normal" name="minHorsepower" placeholder="Minumum HorsePower" maxlength="4" #minHorsepower>
                            <input type="text" class="input-normal" style="margin-left: 10px;" name="maxHorsepower" placeholder="Maximum HorsePower" maxlength="4" #maxHorsepower>
                        </div>

                        <div class="inputBox">
                            <input type="text" class="inputRange" name="minKilometres" placeholder="Minimo de Kilometros" maxlength="7" #minKilometres>
                            <input type="text" class="inputRange" style="margin-left: 10px;" name="maxKilometres" placeholder="Maximo de Kilometros" maxlength="7" #maxKilometres>
                        </div>

                    </div>

                    <div class="normalInputs">
                        <div class="inputBox">
                            <select #ubication>
                                <option default>All Ubications</option>
                                <option>Alger</option>
                                <option>Oran</option>
                                <option>Constantina</option>
                                <option>Annaba</option>
                                <option>Batna</option>
                                <option>Blida</option>
                                <option>Setif</option>
                                <option>Chlef</option>
                                <option>Djelfa</option>
                                <option>Sidi Bel Abbes</option>
                                <option>Biskra</option>
                                <option>Tébessa</option>
                                <option>Tiaret</option>
                                <option>Ouargla</option>
                                <option>Bugía</option>
                                <option>Skikda</option>
                                <option>Tlemecén</option>
                                <option>Bordj Bou Arreridj</option>
                                <option>Béchar</option>
                                <option>Médéa</option>
                                <option>Touggourt</option>
                                <option>Jijel</option>
                                <option>Souk Ahras</option>
                                <option>Mostaganem</option>
                                <option>M'Sila</option>
                                <option>El Eulma</option>
                                <option>Khenchela</option>
                                <option>Saïda</option>
                                <option>Aïn Oussara</option>
                                <option>El Oued</option>
                                <option>Guelma</option>
                                <option>Relizane</option>
                                <option>Laghouat</option>
                                <option>Bordj el Kiffan</option>
                                <option>Bou Saada</option>
                                <option>Bab Ezzouar</option>
                                <option>Messaad</option>
                                <option>Barika</option>
                                <option>Ain el Beida</option>
                                <option>Ghardaia</option>
                                <option>Baraki</option>
                                <option>El Khroub</option>
                            </select>

                            <select #sellerType>
                                <option default>All Seller Types</option>
                                <option>Particular</option>
                                <option>Profesional</option>
                            </select>
                        </div>
                   </div>
                </div>  
            </div>
        </div>
        <!-- MUESTRO ANUNCIOS -->

       <!-- <div class="container-fluid">

            <a href="/getannounce/:{{announce._id}}" *ngFor="let announce of announcesArray;">
                <div class="announceCard">

                    <div class="row align-items-center">

                        <div class="col-md-6">
                            <div class="photo">
                                <img src = {{announce.photosPaths[0]}}>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="announceInfo">
                                <p>Tile: <span>{{ announce.title }}</span> </p>
                                <p>Phone: <span>{{ announce.phone }}</span></p>
                                <p>Email: <span>{{ announce.email }}</span></p>
                            </div>
                        </div>

                    </div>
                </div>
            </a>
            
        </div>-->
        
    </body>

</html>


